.cabecalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url('../assets/img/Menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.cabecalho {
  background-color: var(--branco);
  display: flex;
  /* Transforma os container e seus filhos em itens flex
  Libera estas tags para utilizar */
  justify-content: space-between;
  align-items: center;
  /* libera para colocar o left, bottom, top, right
  Foi posto para o .cabecalho não ser static e o absolute do .lista-menu funcionar */
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.container__imagem {
  padding: 1em;
}

/* Inicialmente .lista-menu não vai aparecer */
.lista-menu {
  display: none;
  /* permite que movimente o elemento de acordo com outro elemento antes ou o pai */
  position: absolute;
  top: 100%;
  /* vw- ViewWidth */
  width: 60vw;
}

/* Vai checar se o item com esta classe esta com o status checked
Se está checked ele vai procurar o elemento mais próximo com a classe .lista-menu
Assim vai colocar o display block para aparecer */
.container__botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__botao {
  display: none;
}
